Repository swiftss-org/registry-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, system

.pre-commit-config.yaml:

default_stages:
  - commit
exclude: node_modules|.git|.tox
fail_fast: true
repos:
  - hooks:
      - id: detect-secrets
        args: [ '--baseline', '.pre-commit/.secrets.baseline' ]
        exclude: (config/settings/test.py|/static|.html|local|README.md)
    repo: https://github.com/Yelp/detect-secrets.git
    rev: v0.14.2

  - hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        files: \.(json)$
      - id: check-toml
        files: \.(toml)$
      - id: check-yaml
        files: \.(yaml)$
      - id: fix-encoding-pragma
        args: [ --remove ]
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0

  - hooks:
      - id: isort
        name: isort
        language: system
        entry: isort --settings-path=.pre-commit
        exclude: (/settings/|/migrations/)
        require_serial: true
        types: [ python ]
    repo: local

  - hooks:
      - exclude: (/settings/)
        id: black
        args:
          - --config=.pre-commit/pyproject.toml
        language_version: python3.8
        require_serial: true
        types:
          - python
    repo: https://github.com/ambv/black
    rev: 20.8b1

  - hooks:
      - args:
          - --config=.pre-commit/setup.cfg
        id: flake8
    repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3

  - hooks:
      - entry: pylint --rcfile=.pre-commit/.pylintrc
        exclude: (/settings/)
        files: \.py$
        id: system
        language: system
        name: PyLint
    repo: local

  - hooks:
      - id: commitizen
        stages:
          - commit-msg
        args:
          - --config=.pre-commit/pyproject.toml
    repo: https://github.com/commitizen-tools/commitizen
    rev: v2.1.0

  - hooks:
      - id: bandit
        args: [ --verbose, -ll, --recursive, . ]
    repo: https://github.com/PyCQA/bandit
    rev: 1.6.3

refactor(patients): used 2 serializers instead of 1
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/api/viewsets.py
  tmh_registry/registry/models.py
Due: isort, system

test(patients): fixed factory
  tmh_registry/registry/factories.py
Due: isort, system

Notes added by 'git notes add'
  2ae30c3b26487af35f2d618552c4f227595a33ce
Due: none

(feat-permissions): create custom permissions class
  config/settings/base.py
  config/settings/production.py
  tmh_registry/registry/tests/api/viewsets/test_hospitals.py
  tmh_registry/registry/tests/api/viewsets/test_patients.py
  tmh_registry/users/api/permissions.py
  tmh_registry/users/migrations/0007_auto_20210611_1126.py
  tmh_registry/users/models.py
  tmh_registry/users/tests/api/test_serializers.py
  tmh_registry/users/tests/factories.py
Due: isort, system

fix(semantic-release): fixed broken action
  .github/workflows/ci.yml
Due: none

Notes added by 'git notes add'
  75dbdf9114e66877a03cc8db834d6a2682cac64a
Due: none

fix(patients): fixed patient phones handling in serializer representation
  tmh_registry/registry/api/serializers.py
Due: isort, system

feat(patients): Merged name info to one field and adjusted the mandatory fields
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/factories.py
  tmh_registry/registry/migrations/0006_auto_20210609_1559.py
  tmh_registry/registry/models.py
  tmh_registry/registry/tests/api/viewsets/test_patients.py
Due: isort, system

Notes added by 'git notes add'
  46453805ba00ab42e39f3cda3ca141b11256d1bb
Due: none

feat(db-tables): added episode and follow up models
  tmh_registry/registry/models.py
Due: isort, system

feat(db-models): added migration file
  tmh_registry/registry/migrations/0006_episode_followup.py
Due: system

fix(db-models): formatting changes
  tmh_registry/registry/migrations/0007_episode_followup.py
Due: system

Added episode and follow up models (#23)
  tmh_registry/registry/migrations/0007_episode_followup.py
  tmh_registry/registry/models.py
Due: isort, system

fix(cors): allowed localhost and client servers
  config/settings/production.py
Due: none

fix(cors): allowed localhost and client servers (#44)
  config/settings/production.py
Due: none

Notes added by 'git notes add'
  38930f87c2b43884c5825f53ad17a6dad62fe60a
Due: none

feat(read-me): updated readme file
  README.md
  README.rst
Due: none

updated contributors
  CONTRIBUTORS.txt
Due: none

fixed readme file virtualenv command
  README.md
Due: none

Feat/45 update readme (#46)
  CONTRIBUTORS.txt
  README.md
  README.rst
Due: none

feat(medical-personnel): added extra levels
  tmh_registry/users/migrations/0008_auto_20210630_1407.py
  tmh_registry/users/models.py
Due: isort, system

added get_level_display()
  tmh_registry/users/models.py
Due: isort, system

reverted function
  tmh_registry/users/models.py
Due: isort, system

feat(medical-personnel): added extra levels (#53)
  tmh_registry/users/migrations/0008_auto_20210630_1407.py
  tmh_registry/users/models.py
Due: isort, system

Notes added by 'git notes add'
  ebc8e6b35d1828468e8c5e74142957da9f9f3854
Due: none

fix(hospital-patient-mapping): fixed string representation
  tmh_registry/registry/models.py
Due: isort, system

fix(hospital-patient-mapping): fixed string representation (#56)
  tmh_registry/registry/models.py
Due: isort, system

Notes added by 'git notes add'
  9f402ea988291c313e7cbcfde3482fea36d3fb25
Due: none

added patient_hospital_id
  tmh_registry/registry/factories.py
  tmh_registry/registry/migrations/0008_auto_20210919_1826.py
  tmh_registry/registry/models.py
Due: isort, system

updated post endpoint
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/factories.py
  tmh_registry/registry/tests/api/viewsets/test_patients.py
Due: isort, system

added patient_hospital_id in get endpoints
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/migrations/0009_auto_20210919_1941.py
  tmh_registry/registry/models.py
  tmh_registry/registry/tests/api/viewsets/test_patients.py
Due: isort, system

reverted version to isort
  requirements/local.txt
Due: none

feat(patient-hospital): Added Patient Hospital ID [54] #70
  requirements/local.txt
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/factories.py
  tmh_registry/registry/migrations/0008_auto_20210919_1826.py
  tmh_registry/registry/migrations/0009_auto_20210919_1941.py
  tmh_registry/registry/models.py
  tmh_registry/registry/tests/api/viewsets/test_patients.py
Due: isort, system

Notes added by 'git notes add'
  a8ae41d8319dc4c9007b8659f2394289a07df6a6
Due: none

added commands to Makefile
  Makefile
Due: none

changed PatientReadSerializer to include mappings
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/tests/api/viewsets/test_patients.py
Due: isort, system

added POST patient-hospital-mapping endpoint
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/api/viewsets.py
  tmh_registry/registry/tests/api/viewsets/test_patient_hospital_mappings.py
  tmh_registry/registry/urls.py
Due: isort, system

removed print statement
  tmh_registry/registry/tests/api/viewsets/test_patients.py
Due: isort, system

feat(patient-hospital-mapping): created POST endpoint and exposed mappings on GET /patients/ endpoints #73
  Makefile
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/api/viewsets.py
  tmh_registry/registry/tests/api/viewsets/test_patient_hospital_mappings.py
  tmh_registry/registry/tests/api/viewsets/test_patients.py
  tmh_registry/registry/urls.py
Due: isort, system

Notes added by 'git notes add'
  3bda523cd13dd0a2b962c591175b68a8359cbd2e
Due: none
