Repository swiftss-org/registry-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, system

.pre-commit-config.yaml:

default_stages:
  - commit
exclude: node_modules|.git|.tox
fail_fast: true
repos:
  - hooks:
      - id: detect-secrets
        args: [ '--baseline', '.pre-commit/.secrets.baseline' ]
        exclude: (config/settings/test.py|/static|.html|local|README.md)
    repo: https://github.com/Yelp/detect-secrets.git
    rev: v0.14.2

  - hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        files: \.(json)$
      - id: check-toml
        files: \.(toml)$
      - id: check-yaml
        files: \.(yaml)$
      - id: fix-encoding-pragma
        args: [ --remove ]
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0

  - hooks:
      - id: isort
        name: isort
        language: system
        entry: isort --settings-path=.pre-commit
        exclude: (/settings/|/migrations/)
        require_serial: true
        types: [ python ]
    repo: local

  - hooks:
      - exclude: (/settings/)
        id: black
        args:
          - --config=.pre-commit/pyproject.toml
        language_version: python3.8
        require_serial: true
        types:
          - python
    repo: https://github.com/ambv/black
    rev: 20.8b1

  - hooks:
      - args:
          - --config=.pre-commit/setup.cfg
        id: flake8
    repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3

  - hooks:
      - entry: pylint --rcfile=.pre-commit/.pylintrc
        exclude: (/settings/)
        files: \.py$
        id: system
        language: system
        name: PyLint
    repo: local

  - hooks:
      - id: commitizen
        stages:
          - commit-msg
        args:
          - --config=.pre-commit/pyproject.toml
    repo: https://github.com/commitizen-tools/commitizen
    rev: v2.1.0

  - hooks:
      - id: bandit
        args: [ --verbose, -ll, --recursive, . ]
    repo: https://github.com/PyCQA/bandit
    rev: 1.6.3

day and month optional
  tmh_registry/registry/api/serializers.py
Due: isort, system

chnage antibiotics types
  tmh_registry/common/utils/functions.py
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/api/viewsets.py
  tmh_registry/registry/factories.py
  tmh_registry/registry/migrations/0022_auto_20230404_1418.py
  tmh_registry/registry/models.py
Due: isort, system

disharge changes
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/migrations/0023_discharge_discharge_duration.py
  tmh_registry/registry/migrations/0024_auto_20230404_1512.py
  tmh_registry/registry/migrations/0025_auto_20230404_1536.py
  tmh_registry/registry/migrations/0026_discharge_comments.py
  tmh_registry/registry/models.py
Due: isort, system

follow up changes
  .envs/.local/FFF
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/migrations/0027_auto_20230404_1555.py
  tmh_registry/registry/models.py
Due: isort, system

change not break in empty string and multiple antibiotic_type
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/api/viewsets.py
  tmh_registry/registry/migrations/0028_auto_20230404_1842.py
  tmh_registry/registry/models.py
Due: isort, system

changes in infection
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/migrations/0029_auto_20230411_0759.py
  tmh_registry/registry/migrations/0030_auto_20230411_0844.py
  tmh_registry/registry/models.py
Due: isort, system

remove file
  .envs/.local/FFF
Due: none

fix null duration
  tmh_registry/registry/api/serializers.py
Due: isort, system

discharge_duration PositiveInteger
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/migrations/0031_auto_20230411_1007.py
  tmh_registry/registry/models.py
Due: isort, system

Remove comments field from Episode model
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/migrations/0032_remove_episode_comments.py
  tmh_registry/registry/models.py
Due: isort, system

New migration
  tmh_registry/registry/migrations/0022_auto_20230525_0641.py
Due: system

new migration
  tmh_registry/registry/migrations/0033_merge_20230525_0733.py
Due: system

fix not attribute at FollowUp
  tmh_registry/registry/models.py
Due: isort, system

new choices
  tmh_registry/registry/migrations/0034_auto_20230808_0957.py
  tmh_registry/registry/models.py
Due: isort, system

change admin
  tmh_registry/registry/admin.py
  tmh_registry/registry/models.py
Due: isort, system

add export button on admin site
  config/settings/base.py
  requirements/base.txt
  tmh_registry/registry/admin.py
  tmh_registry/users/admin.py
Due: isort, system

remove permissions for admin
  config/settings/base.py
  config/settings/local.py
  config/settings/production.py
Due: none

Patient search bar now also searches through the hospital IDs of the patients mapped to the currently selected hospital
  tmh_registry/registry/api/viewsets.py
Due: isort, system

fixing the failing build
  tmh_registry/registry/factories.py
  tmh_registry/registry/tests/api/viewsets/episodes/test_post.py
Due: isort, system

fixing permission related issue
  tmh_registry/users/api/permissions.py
Due: isort, system

fixing discharge tests
  tmh_registry/registry/factories.py
  tmh_registry/registry/tests/api/viewsets/test_discharges.py
Due: isort, system

fixing followup tests
  tmh_registry/registry/factories.py
  tmh_registry/registry/tests/api/viewsets/test_follow_ups.py
Due: isort, system

fixing post tests
  tmh_registry/registry/tests/api/viewsets/episodes/test_post.py
Due: isort, system

improve README
  README.md
Due: none

Patients searched by National ID now appear as soon as a partial match is found, before they only appeared when the full National ID was provided.
  tmh_registry/registry/api/viewsets.py
Due: isort, system

upgrade python from 3.8.7 to 3.8.18
  .github/workflows/ci.yml
  compose/local/django/Dockerfile
  compose/local/docs/Dockerfile
  compose/production/django/Dockerfile
  runtime.txt
Due: none

use github instead of gitlab for flake8 in pre-commit
  .pre-commit-config.yaml
  .pre-commit/.secrets.baseline
Due: none

fix pre-commits by excluding fake secrets and other projects
  .pre-commit-config.yaml
  requirements/local.txt
Due: none

reformatting the code by lints
  README.md
  config/asgi.py
  config/urls.py
  config/wsgi.py
  tmh_registry/common/utils/functions.py
  tmh_registry/contrib/sites/migrations/0003_set_site_domain_and_name.py
  tmh_registry/registry/admin.py
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/api/viewsets.py
  tmh_registry/registry/migrations/0017_auto_20221029_1535.py
  tmh_registry/registry/migrations/0018_auto_20221029_1546.py
  tmh_registry/registry/migrations/0019_episode_size.py
  tmh_registry/registry/migrations/0020_auto_20221029_1710.py
  tmh_registry/registry/migrations/0021_auto_20230213_1528.py
  tmh_registry/registry/migrations/0022_auto_20230404_1418.py
  tmh_registry/registry/migrations/0022_auto_20230525_0641.py
  tmh_registry/registry/migrations/0023_discharge_discharge_duration.py
  tmh_registry/registry/migrations/0024_auto_20230404_1512.py
  tmh_registry/registry/migrations/0025_auto_20230404_1536.py
  tmh_registry/registry/migrations/0026_discharge_comments.py
  tmh_registry/registry/migrations/0027_auto_20230404_1555.py
  tmh_registry/registry/migrations/0028_auto_20230404_1842.py
  tmh_registry/registry/migrations/0029_auto_20230411_0759.py
  tmh_registry/registry/migrations/0030_auto_20230411_0844.py
  tmh_registry/registry/migrations/0031_auto_20230411_1007.py
  tmh_registry/registry/migrations/0032_remove_episode_comments.py
  tmh_registry/registry/migrations/0033_merge_20230525_0733.py
  tmh_registry/registry/migrations/0034_auto_20230808_0957.py
  tmh_registry/registry/models.py
  tmh_registry/registry/tests/api/viewsets/episodes/test_post.py
  tmh_registry/registry/tests/api/viewsets/test_follow_ups.py
  tmh_registry/registry/tests/api/viewsets/test_patients.py
  tmh_registry/registry/urls.py
  tmh_registry/users/admin.py
  tmh_registry/users/api/permissions.py
  tmh_registry/users/api/serializers.py
  tmh_registry/users/api/views.py
  tmh_registry/users/urls.py
Due: isort, system

add file to run before commit
  checkInCheck.sh
Due: none

fix permissions
  tmh_registry/registry/tests/api/viewsets/test_hospitals.py
  tmh_registry/registry/tests/api/viewsets/test_patients.py
  tmh_registry/users/api/permissions.py
Due: isort, system

reformat the latest migration
  tmh_registry/registry/migrations/0035_episode_comments.py
Due: system

add comment textarea to an episode in the surgery section
  tmh_registry/registry/api/serializers.py
  tmh_registry/registry/migrations/0035_episode_comments.py
  tmh_registry/registry/models.py
Due: isort, system

add pre-commit info to README
  README.md
Due: none

Patients searche by National ID with partial match
  tmh_registry/registry/api/viewsets.py
Due: isort, system
